/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.conf-card{
  display: flex;
  justify-content: space-between;
}

.conf-date{
  display: flex;
  justify-content: center;
  
}

.conf-date1{
  margin-left: 10px;
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif !important;
  line-height: 180%;
}

.conf-btn{
  font-size: 15px !important;
  margin-left: 10px;
  transition: 0.6s;
  font-family: 'Poppins', sans-serif !important;
}

.text-muted{
  text-align: center;
}

.conf-org{
  text-align: left;
  margin-left: 10px;
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif !important;
}


.conf-organ{
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif !important;
}

.conf-uid{
  text-align: left;
}

.conf-btn1{
  background: #0cce26 !important;
  color: white !important;
  border-color: #4aff62 !important;
  transition: 0.5s !important;
}

.conf-btn1:hover{
  background: #056912 !important;
 
}

.conf-btn2{
  
  margin-left: auto !important;
  transition: 0.5s !important;
  padding-left: auto !important;
  padding-right: auto !important;
  width: 85px;
  background: white !important;
  border-width: 2px !important;
  border-color: black !important;
  color: black !important;

}
.conf-btn2:hover{
  background: #2f3130!important;
  color: white !important;
  border-width: 2px !important;
  border-color: black !important;
}

.conf-btn3{
  background: none !important;
  color: #2057bd !important;
  border-color: white !important;
  /* margin-right: auto !important;
  justify-self: flex-start !important; */
  border:1px solid transparent;
 
  transition: 0.5s !important;
}


.conf-btn3:hover{
  background: rgba(0, 0, 0, 0.164) !important;
  color: #032970 !important;
  border-radius: 25px;
 
}

.conf-btn4{

  background: none !important;
  color: #ff000096 !important;
  border-color: white !important;
  /* margin-right: auto !important;
  justify-self: flex-start !important; */
  border:1px solid transparent;
 
  transition: 0.5s !important;
}
.conf-btn4:hover{
  background: rgba(0, 0, 0, 0.164) !important;
  color: #ff0000c7 !important;
  border-radius: 25px;
 
}
#btn-3-conf{
  margin-right: auto !important;
}
.CardOutline{
  display: flex;
}
.text-center{
  margin-bottom: 100px;
  font-family: 'Poppins', sans-serif !important;
  width: 90%;

}
.cardBack{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardBackAdmin{
  

  width: 900px;
}


@media only screen and (max-width: 1900px) {
  .cardBackAdmin {
    width: 670px;
  }
}

#filterToggle{
  display: flex;
}
#filterDrop{
  justify-content: flex-end;
  color: #f1fdf1 !important;
  margin-left: auto !important;
  font-size: 15px !important;
  font-family: 'Raleway', sans-serif !important;
  width: 120px;
}
#drop-item{
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif !important;
}
.statusParent{
  display: flex;
}
.statusChild{
  font-size: 13px;
  font-family: 'Poppins', sans-serif !important;
  text-transform: uppercase;
  margin-left: auto !important;
  padding-right: 5px;
  /* border-right: 15px solid #007d8d; */
}

.card-title-h3{
  font-size: 23px;
  font-family: 'Poppins', sans-serif !important;
}

.venue{
  font-size: 18px !important;
}
.admin-room{
  font-size: 15px !important;
}
.desc-card{
  font-size: 18px !important;
}
.wr-table{
  width: 100%;
  color: #9e9e9e;
  margin: 10px 0px 100px 0px;
}

.wr-dashboard-header{
  text-align: left;
}
.wr-submit{
  text-align: right;
}
.cardBody{
  display: flex;
}
.hallImg{
  width: 450px;
  height: 100%;
}
.cardDesc{
  margin-left: auto;
  width: 100% !important;
}
/* -------------------------------------------------- ReceptionHall ----------------------------------------------------------------------------- */
.repImage1{ 
  object-fit:cover !important;
  height: 500px!important ;
  width: 100% !important;
  transition: transform 2s  ease-in-out;
}
.img-wrapper{
  overflow:hidden;
  height: 500px!important ;
  
  
}


img.repImage1:hover {
  transition: transform 2s  ease-in-out;
  transform: scale(1.04);
}



.repCard{
  display: flex !important;
  
  justify-content: center !important;
  /* margin-top: 200px; */
  margin-top: 40px !important;
  margin-bottom: 50px !important;
   
 
}
#repcard-body:hover {
  transition:  1s !important;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  
}

.repTitleFlex{
  display: flex !important;
  justify-content: center !important ;

}
.repTitle{
  color: #262626;
  font-size: 25px !important;
  margin-top: 5px !important;
}

.repList{

 font-size: large !important;
 color: #000;
 margin-left: 10px !important;
}

.repListChild{
  margin-left: 35px !important;
 font-size: smaller !important;
}

.repListHR{
  color: #a2a660;
  width: 350px;
}
.repBtn{
  display: flex;
}

.repBtn1{
  margin-left: auto !important;
  width: 420px;
  height: 50px;
  background-color: rgb(50, 206, 120) !important;
  border-color: rgb(50, 206, 120) !important;
  width: 220px !important;
}

.bookingBtn{
  background-color: #037208 !important;
  border-color: #037208 !important;
}

.bookingBtn:hover{
  background-color: #025306 !important;
  border-color: #025306 !important;
}

.repFlex{
  display: flex;
  padding: 20px 60px 20px 60px !important;
}
.repFeature{
 margin-left: 150px !important;
 margin-top: 10px;
 line-height: 200%;
 

}

.repFeaTitle{
  font-size: 22px;
  color: #40403f;
}


.repDesc{
  padding: 20px;
}
.hr1{
  border: 1px solid rgb(139, 138, 138);
  width: 90%;
  margin-left: 30px;
  
}
.hr-mainRe{
  width: 80%;
  margin: auto;
  color: rgb(139, 138, 138);
}




/* -------------------------------------------------- Rooms ----------------------------------------------------------------------------- */

.roomCard{
 
  display: flex !important;
  justify-content: center !important;
}

.roomFlex:hover{
 
  transition:  1s !important;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}
.roomImage1{
  height: 375px !important;
  width: 530px !important;
  object-fit:cover !important;
  
  transition: transform 1s  ease-in-out;
}
.room-img-wrapper{
  overflow:hidden;
  height: 375px !important;
  min-width: 530px !important;
  
  
}
img.roomImage1:hover {
  transition: transform 1s  ease-in-out;
  transform: scale(1.04);
}

.roomFlex{
  display: flex;
  transition:  1s !important;
}
.roomBtn{
  display: flex;
}
.roomBtn1{
  margin-left: auto !important;
  width: 200px;
  height: 40px;
  background-color:rgb(50, 206, 120) !important;
  border-color: rgb(50, 206, 120) !important;
  transition:  1s !important;
}
.roomBtn1:hover{
  
  background-color:rgb(40, 167, 97) !important;
  transition:  1s !important;
  border-color: rgb(36, 145, 85) !important;
 
}

.roomBtn2{
  margin-right: auto !important;
  margin-left: 20px;
  background-color: transparent !important;
  color: #ad7a50 !important;
  border: transparent !important;
}


.roomBtn2:hover{
  border: 2px  solid !important;
  border-color: #b46f36 !important;
}

.roomDesc{
  padding: 20px;
  text-align: justify;
}

.roomIconList{
  margin-left: 20px;
  width: 170px;
}

/* .roomCostFlex{
  display: flex;
} */

.roomCost{
  
  margin-left: auto !important;
  font-size: 25px;
  font-weight: bolder;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #262626 !important;
}

.roomReadMore{
  display: flex;
  padding: 20px 60px 20px 60px !important;
  width: 80%;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  line-height: 220%;
}






/*NAVBAR */

.navBarr1{
  background: linear-gradient(90deg, rgba(44,64,29,1) 0%, rgba(59,93,34,1) 38%, rgba(115,168,59,1) 100%) !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.navBarr{
  background: linear-gradient(90deg, rgba(44,64,29,1) 0%, rgba(59,93,34,1) 38%, rgba(115,168,59,1) 100%) !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navItem{
    color: white !important;
    transition: 0.9s !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 30px !important;
    margin-right:  15px !important;
    margin-top: 6px !important;
    border-bottom: 3px solid #456d1a00;
    cursor: pointer !important;
    
    
}

.navItem:hover{
    border-bottom: 3px solid #79cf1d;

}
.navItem:active{
    color: #79cf1d!important;

}

.mr-auto{
    align-items: center !important;
    font-size: 18px !important;
}




  .mainLogo{
      font-size: 30px !important;
      padding-left: 20px;
      padding-right: 20px;
      /* margin-left: 12px; */
      font-weight: bold;
      color:linear-gradient(to right, #ff9900 0%, #ff9966 100%);
      width: 145px;
      top: 0px;
      
  }
  
.userOption{
    background:transparent !important ;
    
    margin-top: 6px !important;
    margin-left: auto !important;
    /* border: none !important; */
    border: 4px solid #0349ca00 !important;
    transition: 0.9s !important;
}

.userOption:hover{
   
    background: none !important;
    border-bottom:none ;
    border-top: none;
    border-right: none;
    background: #056912 !important ;

}

.dropMenu{
    background: #fbfffd;
}

.navCollaspe{
  display: flex !important;
  justify-content: space-between !important;
}

.accountMenu{
  padding-right: 25px !important;
}

.detailList{
  display: flex !important;
  justify-content: center !important;
 
}
/* Title ---------------------*/

.title{
  text-align: center;
  /* padding-top: 6rem;
  padding-bottom: 3rem;
   /* color: #FFF;
  background: url("../src/components/Images/rroom.jpg"); */ 
  height: 200px;
 margin-top: 180px;
 width: 600px;
 padding-top: 70px;
 padding-bottom: 70px;
 background-color: #fbfffd77;
 margin-left: auto;
 margin-right: auto;

}

.headerPic{
  height: 500px;
  width: 100%;
  top: 0px !important;
  position: absolute;
  z-index: -1 !important;
}

.PicTitileHallReserve{
  text-align: center;
  height: 200px;
  margin-top: 180px;
  width: 600px;
  /* padding-top: auto;
  padding-bottom: auto; */
  background-color: #fbfffd77;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
 
}
.repMTitle{
margin-left: 30px;
font-family: "popin";
font-style: oblique;
font-size: 27px;
margin-bottom: 0px !important;
}





/* filter bar */

.wr-table{
  margin-top: 150px !important;
}

.wr-table-header{
  padding: 8px !important;
  border-radius: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 81%);
  font-size: 21px !important;
}

.wr-dashboard-header{
  font-size: 10px !important;
  padding-left: 40px!important;
  padding-top: 8px !important;
}

#filterDrop{
  background-color: #5c5c5cc7 !important;
  margin-right: 40px !important;
}




.mainBgPic{
  /* background: url("../src/components/Images/bgroom.jpg"); */
  background: radial-gradient(circle, rgb(184, 184, 184) 0%, rgba(238, 241, 236, 0.903) 100%);
  margin-top: 120px;
  padding-top: 80px;
}



/* search bar */
.form-control{
width: 300px !important;
margin-left: auto;

}


/* snack bar */
.approveSnack{
background: #032970 !;
text-align: center;
}


.approveSnack:hover{
  background-color: #175922 !important;
}



/* History card*/
.card-title-h3{
text-align: left;
margin-left: 30px;
margin-bottom: 25px;
}

.statusType{
  margin-left: auto;
}


.card-his-body{
  text-align: left;
  margin-left: 70px;
  line-height: 180%;

  color: #4b4b4b;
}

.card-his-bodyFlex{
display: flex;
color: #4b4b4b;
}
.card-his-body-date{
margin-left: auto;
text-align: left;
margin-top: 20px;
margin-right: 100px;

}

.card-his-body-date1{
  margin-left: auto;
  text-align: left;
  margin-top: 10px;
  margin-right: 40px;
  display: flex;
  line-height: 240% !important;
  
  
  }

.card-his-body-menu{
  margin-left: auto;
  text-align: left;
  margin-right: 160px;
}

.card-his-body-remarks{
  margin-left: auto;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 15px;
  color: #555555;
}

#card-his-bodyIcon{
  padding-bottom: 4px !important;
  margin-right: 8px !important;
  font-size: 26px !important;
  color: #00164ad0 !important;
}

.card-his-btn{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card-his-btnDelete{

  background: none !important;
  color: #dd0a0a !important;
  margin-left: auto;
  transition: 0.5s !important;
  margin-right: 6px;
  border: none !important;
}

.card-his-btnDelete:hover{
 background-color: rgb(214, 214, 214) !important;
 border-radius: 50px;
}


.reportBtn{
  /* margin-left: 200px; */
  background-color: #fcfcfc !important;
 color: #000 !important;
 border-color: #2f3130 !important;
  font-family: 'Poppins', sans-serif !important;
}

.category-label{
    color: white;
    padding: 10px;
    text-align: center;
    background:linear-gradient(90deg, rgba(44,64,29,1) 0%, rgba(59,93,34,1) 38%, rgba(115,168,59,1) 100%) !important;
}
.rest-body{
    margin-top: 100px;
}

.itemList{
    margin: auto 50px;
}
.card{
    margin: 1rem 0.5rem;
}
.cart{
    padding-top: 4px;
}
.rest-user{
    background:transparent !important ;
    margin-top: 6px !important;
    margin-left: auto !important;
    /* border: none !important; */
    border: 4px solid ;
    transition: 0.9s !important;
}
.themed-container{
    position: relative;
    width: 98%;
    margin: 40px auto 100px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.cart-title{
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    padding-top: 3rem;
}
.ordersum{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 25px;
}
.order-d{
    padding-left: 10px;

}

#order-t{
    padding-top: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.check{
    position: relative;
    width: 100%;
    margin: 40px auto 100px auto;
    background: rgb(240, 240, 240);
    padding: 20px;

    box-shadow: 0 1px 5px rgb(0, 0, 0);
}
.order{
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-family:  cursive;
}
.check-out{
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
.item{
    position: relative;
    width: 100%;
    margin: 40px auto 100px auto;
    background: rgb(228, 228, 228);
    padding: 20px;

    box-shadow: 0 1px 5px rgb(0, 0, 0);
}
.order-d{
    padding-left: 10px;

}

#order-t{
    padding-top: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.checkout-view{
    position: relative;
    width: 50%;
    margin: 100px auto 100px auto;
    background: rgb(228, 228, 228);
    padding: 20px;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
}
.success{
    position: relative;
    width: 55%;
    margin: 40px auto 150px auto;
    background: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.sign-up{
    height: 100%;
    width: 100%;
    position:absolute;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1493770348161-369560ae357d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}
.sign-up-form{
    position: relative;
    margin: 40px auto 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    align-items: center;
}
.order-card{
    margin: 4rem;
    background-color: white;
    padding: 1rem;
    color: gray;
    border-radius: 7px;
}